<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pagina</title>
</head>
<body>
    
 
 {% include 'base/aside.html' %}
 <main class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">  
       {% block container %}

       {% endblock container %}
    </div>
</main>
 
</body>
</html>